* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 100%px;
    padding: 2%;
    margin: 0 auto;
    background-color: rgb(3, 3, 179);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(3, 3, 179);
}

.logo{
    background-color:  rgb(3, 3, 179);
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 30px;
    transition: 0.6s;
}

nav ul li a:hover{
    background-color: orange;
}

.container-nave{
    padding: 30px;
    background-color: rgb(3, 3, 179);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    flex-wrap: wrap;
}

.menu a{
    font-size: 24px;
    text-decoration: none;
    background-color: rgb(3, 3, 179);
    color: white;
}

.content{
    padding: 30px;
    margin: 30px;
    display: flex;
    align-items: self-start;
    gap: 30px;
}

.image img{
    size: 100%;
}

.others h1{
    margin-top: 50px;
    font-size: 96px;
    color: #d47903;
    max-width: 1200px;
}

.others h2{
    font-size: 42px;
    max-width: 1200px;
}

.others p{
    margin-top: 40px;
    font-size: 24px;
    max-width: 1200px;
    line-height: 40px;
}

.others button{
    font-weight: bold;
    font-size: 22px;
    margin-top: 30px;
    border: 0;
    background-color: #d47903;
    color: black;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
